.b24-widget-button-wrapper.b24-widget-button-position-bottom-left.b24-widget-button-visible {
	bottom: 106px;
	left: 22px;
}

@media (max-width:720px) {
	.b24-widget-button-wrapper.b24-widget-button-position-bottom-left.b24-widget-button-visible {
		bottom: 86px;
		left: 11px;
	}
}