@keyframes rotate-stub {
  0% {
    transform: rotate(0deg);
  }    
  100% {
    transform: rotate(360deg);
  }
}

.image-stub,
.map-lazy {
  position: relative;
  min-height: 60px; 
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(../images/dist/icons/refresh.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    animation: rotate-stub 3s infinite;
    z-index: 5;
  }   
}

.image-stub img {
  position: relative;
  z-index: 10;
}

.map-lazy.--loaded::before {
  display: none;
}

