.show-more-btn {
  background: #0000;
  border: 0;
  color: #fff;
  cursor: pointer;
  margin: auto;
  transition: color 0.3s ease-in-out;
  white-space: nowrap;
  padding: 0;
}
.show-more-btn:hover { 
  color: #d7dddf;
}
