.faq {
  &__head {
    padding: 18px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: $accent;
    cursor: pointer;
    position: relative;
    user-select: none;
  }
  &__content {
    display: none;
    &.--open {
      display: block;
    }
  }
  &__text {
    color: #5b6a70;
    margin-bottom: 7px;
  }
}

/** HTML code
  <div class="faq">
    <div class="faq__wrapper">
      <h4 class="faq__head faq-btn">
        Навигация 1
      </h4>
      <div class="faq__content">
        <p class="faq__text">
          Контент 1
        </p>
      </div>
    </div>
    <div class="faq__wrapper">
      <h4 class="faq__head faq-btn">
        Навигация 2
      </h4>
      <div class="faq__content">
        <p class="faq__text">
          Контент 2
        </p>
      </div>
    </div>
  </div>
*/